description = "Menu items"

[viewBag]
==
<div class="row header__nav-wrap mr-0 ml-0">
  {% for item in items %}
  <div class="header__nav-item">
    <a href="{{ item.items ? '#!' : item.url }}" class="header__nav-link{{ item.isActive or item.isChildActive ? ' header__nav-link_active' : '' }}">
      {{ item.title }}
      {% if item.items %}
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="header__nav-arrow">
        <g data-name="Layer 2">
          <g data-name="arrow-ios-downward">
            <rect width="24" height="24" opacity="0"/>
            <path d="M12 16a1 1 0 0 1-.64-.23l-6-5a1 1 0 1 1 1.28-1.54L12 13.71l5.36-4.32a1 1 0 0 1 1.41.15 1 1 0 0 1-.14 1.46l-6 4.83A1 1 0 0 1 12 16z"/>
          </g>
        </g>
      </svg>
      {% endif %}
    </a>
    {% if item.items %}
    <div class="header__nav-dropdown">
      {% for subitem in item.items %}
      <a href="{{ subitem.url }}" class="header__nav-sublink{{ item.isActive or item.isChildActive ? ' header__nav-link_active' : '' }}">{{ subitem.title }}</a>
      {% endfor %}
    </div>
    {% endif %}
  </div>
  {% endfor %}
</div>
