description = "Product page"

[formwidget]
==
<!DOCTYPE html>
<html lang="ru">
    <head>
        {% partial "app/meta" %}
    </head>
    <body class="page">
        {% partial "app/preloader" %}
        {% partial "app/header" %}

        <main>
          {% partial "app/breadcrumbs" list=[{title: 'Каталог', url: 'catalog'}] %}
          {% page %}
        </main>

        <!-- Footer -->
        {% partial "app/footer" %}
        <!-- Modal-->
        <div class="popup-fade">
          <div class="popup rounded">
              <a class="popup-close" href="#">
                <svg class="popup-cross" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/>
                  <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/>
                </svg>
              </a>
              <div class="title" data-modal="title">Оставить заявку</div>
              {% component 'formwidget' %}
          </div>
        </div>
        <!-- Optional JavaScript -->
        {% partial "app/scripts" %}
    </body>
</html>