description = "Static page"

[staticPage]
useContent = 1
default = 0

[childPages]

[formwidget]
==
<!DOCTYPE html>
<html lang="ru">
    <head>
        {% partial "app/meta" %}
    </head>
    <body class="page">
        {% partial "app/preloader" %}
        {% partial "app/header" %}

        <main>
            {% partial "app/breadcrumbs" %}
            <div class="page-title">
                <div class="container">
                    <h1>{{ this.page.title }}</h1>
                </div>
            </div>
            <div class="container page-content">
                {% component 'staticPage' %}
            </div>
            {% partial "app/map" %}
        </main>


        {% partial "app/footer" %}

        <div class="popup-fade">
          <div class="popup rounded">
              <a class="popup-close" href="#"><i class="fas fa-times"></i></a>
              <div class="title" data-modal="title">Оставить заявку</div>
              {% component 'formwidget' %}
          </div>
        </div>
        <!-- Optional JavaScript -->
        {% partial "app/scripts" %}
    </body>
</html>